<div>
  <b-container class="login ">
      <b-row>
          <b-col>
              Please connect your self :
          </b-col>
        <b-form @submit.prevent="onSubmit"  v-if="show">
          <b-form-input
            id="email"
            v-model="form.email"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
      
          <b-form-input
            id="password"
            v-model="form.password"
            type="password"
            required
            placeholder="*********"
          ></b-form-input>
          <p class="error">{{ message }}</p>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
      </b-col>
      </b-row>
  </b-container>
</div>
